.emptyDiv{
    background: gray;
    min-height: 374.3px;
    color: initial;
}
.emptyDiv:hover {
    text-decoration: none;
    color: white;
    background: #f56f46;
}
.emptyDiv::after {
    content: "+";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 50px;
}
