body{
    overflow-x: hidden;
}
nav {
    position: absolute !important;
    background: initial !important;
}
header {
    background-image: url('Images/Index/header.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 80vh;
    color: white;
    font-family: 'GothamMedium', sans-serif;
}
header::before {
    content: '';
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.57) 37%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    z-index: 800;
}
header div {
    z-index: 801;
}
.headerText {
    text-align: center;
    margin-top: 54vh;
    font-size: 36px;
    font-weight: 700;
}
.headerWord {
    font-family: 'Roboto-BlackItalic', sans-serif;
}
.catalog{
    padding-top: 100px;
}
.catalog .cars{
    right: -49vw;
    top: -60px;
    z-index: 1;
}
.catalog select{
    z-index: 2;
    position: relative;
}
.catalog a{
    z-index: 2;
    position: relative;
}
.paint{
    left: -180px;
}
.carCategories {
    background-image: url('Images/Index/offer.jpg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: cover;
}
.carCategories::after {
    content: '';
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.57) 37%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    z-index: 800;
}
.testItOut {
    color: #f56f46;
    background-image: -webkit-linear-gradient( 270deg, rgb(255 255 255) 50%, #f56f46 50%) !important;
}
.race div:nth-child(1) {
    background-color: #111;
}
.race div:nth-child(2) img {
    margin-left: -15px;
}
.cons {
    background-color: #f56f46;
}
.carShow > div {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    overflow-x: auto;
}
.cardImg{
    height: 280px;
    object-fit: cover;
}
