@font-face {
    font-family: 'Roboto-Regular';
    src: url('Font/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('Font/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'GothamMedium';
    src: url('Font/Gotham/GothamMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('Font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}
body {
    font-family: 'Roboto-Regular', sans-serif
}
nav {
    z-index: 1000;
    background: #111;
    margin-bottom: 50px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #f56f46;
    color: #111;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

nav a {
    font-weight: 600;
}

.btnOrange {
    background: #f56f46;
    color: #fff;
    font-weight: 600;
}
.footerImg {
    right: 0;
}
@media (min-width: 576px) {
    .footerImg {
        max-width: 70vw;
    }
}
@media (min-width: 1200px) {
    .footerImg {
        max-width: 40vw;
    }
}

